In [2]:
import pandas as pd
df = pd.read_excel('kickstarter_cleaned_data.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         552 non-null    int64
 1   name               552 non-null    object
 2   url                552 non-null    object
 3   category           552 non-null    object
 4   subcategory        552 non-null    object
 5   location           552 non-null    object
 6   status             552 non-null    object
 7   goal               552 non-null    int64
 8   pledged            552 non-null    int64
 9   funded percentage  552 non-null    float64
 10  backers            552 non-null    int64
 11  funded date        552 non-null    object
 12  levels             552 non-null    int64
 13  reward levels      552 non-null    object
 14  updates            552 non-null    int64
 15  comments           552 non-null    int64
 16  duration           552 non-null    float64
dtypes: float64(2), int64(7), object(8)
memory usage: 73.4+ KB

In [6]:
df['funded date'] = pd.to_datetime(df['funded date'])

In [8]:
df['duration']= df['duration'].astype(int)

In [10]:
df['lanuched date'] = df['funded date'] - pd.to_timedelta(df['duration'], unit='D')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         552 non-null    int64
 1   name               552 non-null    object
 2   url                552 non-null    object
 3   category           552 non-null    object
 4   subcategory        552 non-null    object
 5   location           552 non-null    object
 6   status             552 non-null    object
 7   goal               552 non-null    int64
 8   pledged            552 non-null    int64
 9   funded percentage  552 non-null    float64
 10  backers            552 non-null    int64
 11  funded date        552 non-null    datetime64[ns, UTC]
 12  levels             552 non-null    int64
 13  reward levels      552 non-null    object
 14  updates            552 non-null    int64
 15  comments           552 non-null    int64
 16  duration           552 non-null    int32
 17  lanuched date      552 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), float64(1), int32(1), int64(7), object(7)
memory usage: 75.6+ KB

In [14]:
df.to_csv('kickstater_cleaned1.csv', index=False)

In [17]:
import re

def extract_rewards(text):
    if pd.isna(text):
        return []
    
    # نستخدم تعبير منتظم لاستخراج كل الأرقام بشكل صحيح
    matches = re.findall(r'\$?([\d,]+(?:\.\d+)?)', text)
    
    cleaned = []
    for match in matches:
        # نشيل الفواصل من كل رقم (thousand separator)
        num = float(match.replace(',', ''))
        cleaned.append(num)
    return cleaned

# نطبق على العمود
df['reward list'] = df['reward levels'].apply(extract_rewards)

# نحسب المين والمكس
df['reward_min'] = df['reward list'].apply(lambda x: min(x) if x else None)
df['reward_max'] = df['reward list'].apply(lambda x: max(x) if x else None)

TypeError: expected string or bytes-like object, got 'int'

In [ ]:
df.to_csv('kickstater_cleaned3.csv', index=False)